*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
}

.searchIp{
  /* border: 2px solid red; */
  display: flex;
  margin: 50px auto;
  width: 900px;
  /* gap: 100px; */
  justify-content: space-between;
  padding: 15px;
}

.searchIp input{
  height: 40px;
  width: 250px;
  text-align: center;
  font-size: 18px;
}

::placeholder{
  text-align: center;
}

.btnSearch{
  height: 40px;
  width: 398px;
  margin: 10px 535px;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
}
.btnSearch:hover{
  background-color: rgb(35, 178, 35);

}

table{
  border: 1px solid black;
  border-collapse: collapse;
  width: 1100px;
  margin: 40px auto;
  font-size: 18px;
  text-align: center;
}
table th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
}

tbody td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 12px;
  text-align: center;
}


h1{
  width: 600px;
  height: 90px;
  margin: 50px auto;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bolder;

}